.chatContainer {
	width   : 85%;
	height  : 250px;
	border  : 5px solid $orange;
	margin  : 0 auto;
	position: relative;
}

.messagingArea {
	position: absolute;
	bottom: 0;
	display: flex;
	width: 100%;
}

.messageInput {
	width   : 90%;
	line-height: 2em;
	padding-left: 3%;
	font-size: 1.5em;
	@include breakpoint(small) {
		font-size: 1em;
	}
}

::-webkit-input-placeholder {
   color : $dark-gray;
}

:-moz-placeholder { /* Firefox 18- */
   color : $dark-gray;
}

::-moz-placeholder { /* Firefox 19+ */
   color : $dark-gray;
}

:-ms-input-placeholder {
   color : $dark-gray;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.15s 0.15s ease;
  opacity: 0;
}

/* === === === === ==== ===== ========= ======== =========
			BUTTONS
========= ==================== ========= ======= ===== */

.clickSend {
	right   : 0;
	border  : none;
	color   : white;
	background-color: $teal;
	padding: 2%;
	font-size: 1em;
	&:hover {
		background-color: darken($teal, 10%);
		cursor: pointer;
	}
	@include breakpoint(small) {
		font-size: .7em;
	}
}
