$header-font: 'Great Vibes', cursive;
$body-font: 'Josefin Sans', sans-serif;



/**** **** **** **** ****
Colors
**** **** **** **** ****/

$new-blue: #343844;
$cloud-blue: #495B73;
$new-green: #2AB69D;
$new-red: #E65848;
$new-yellow: #FDC536;
$new-beige: #FCF2D7;
$lighter-blue: #60687e;
$hover-color: #598C42;
$lighter-green: lighten($hover-color, 3%);
$green: #6B7701;
$blue: #91B9B0;
$dark-blue: darken($blue, 22%);
$maroon: #6A1B35;
$teal: #AAE6D9;
$orange: #D85212;
$white: #fff;
$gray: #C0C0C0;
$dark-gray: #474747;
$master-header-color: #5B605F;
