html {
  background: white;
	font-family: $body-font;
  font-size: 100%;
}

h2 {
  font-family: $body-font;
  font-size: 1.688em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.037em;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 2.3%;
}
